:root{
    --black: rgb(26, 26, 26);
    --white: rgb(243, 238, 238);
    --green: rgb(12, 242, 4);
}

body{
    background-color: var(--black);
    color: var(--white);
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

/*NAVBAR*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a:link, header a:visited{
    color: var(--white);
    text-decoration: none;
}
header a:hover{
    color:var(--green);
}
header h1{
    font-size: 75px;
    font-family: 'UnifrakturMaguntia', cursive;
}

nav{
    margin: 4em;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 2em;
}
nav ul li{
    padding: 0 10px;
    font-size: 22px;
}

/*HERO SECTION*/
main{
    display: flex;
    gap: 6em;
    margin-top: 3em;
}
.left-col{
}
main h1{
    font-size: 32px;
    writing-mode:vertical-lr;
}
main p{
    font-size: 18px;
}

/*CONTACT SECTION*/
section{
    display: flex;
    padding: 3em;
}
section h1{
    font-size: 25px;
}
section a{
    font-size: 16px;
    color: var(--white);
    text-decoration: none;
}
section a:hover{
    color: var(--green);
}